version: '3.8'

services:
  backend:
    build:
      context: ./backend
      target: production
    restart: always

  frontend:
    build:
      context: ./frontend
      target: production
    ports:
      - '80:80'
    restart: always
